/* Estilos Generales */

body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-image: url('../img/Backgrounds/Backround_pizarra.png');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -150px;
  
  overflow:hidden;
  /* overflow:scroll; */

}

.texto-titulo{
    font-size: 30px;
    font-weight: bold;
    font-family: "Sour Gummy", sans-serif;

}

/* seccion bacground incicial */
.background-inicial
{
  min-height: 971px;
  background-color: #8d16d1;
}


/* Lista de imagenes */

#ahorcado-img {
  width: 300px; /* Ajusta según tu diseño */
  height: auto;
  transition: opacity 0.5s ease; /* Suaviza el cambio de imagen */
}



/* Juego state */
#seccion-juego {
  position: relative;
  height: 100vh;
  background: url('./img/Etructuras/Horca.png') no-repeat center center; /* Imagen de fondo */
  background-size: cover; /* Ajustar la imagen para cubrir toda la sección */
  color: white; /* Texto en blanco para mejor contraste */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.seccion-juego {
  background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para resaltar el contenido */
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

#contador {
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0;
}

.contenedor-letras {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; /* Espaciado entre los inputs */
}

#contador, .contenedor-letras h1 {
  text-shadow: 2px 2px 5px black; /* Sombra para el texto */
}

.respuesta_correcta{
  
  border-bottom: 5px solid green !important;
  
}
.respuesta_incorrecta{
  border-bottom: 5px solid red;
}


/* Estilos para el menú flotante */
.floating-menu {
    
  width: 750px;
  height: 324px;

  position: fixed;

  justify-content: center;
  align-content: center;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;


  background-image:url("../img/Backgrounds/Baground_Menu.png");
  
}

.UI-Menu{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 15px;
    
    
}

.button-Menu{
  
  margin: 0 auto;  /*Centrar div*/
  width: 150px;
  height: 75px;
  border-radius: 15px;

}


/* seccion-ingreso-datos */

.seccion-ingreso-datos{
  min-height: 917px;
  background-color: #f5f6f7;

}





/* seccion Logica de juego */


.inputs-letras{
  border: none;
  border-bottom: 5px solid red;
  margin-left: 5px;
  background: transparent;
  width: 45px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.fade-out {
  animation: fadeOut 1s forwards;
}


.fade-int{
  animation: fadeInt 1s forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeInt{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;

  }
}
#game-section {
  display: none; /* Ocultar por defecto */
}

button{
  animation:  1.2s ease-in-out ;
  cursor: pointer;
}

button:hover {
  animation: animationButton 1.2s ease-in-out infinite;
}



@keyframes animationButton {
  0%{
    transform: scale(1);
  }50%{
    transform: scale(1.2);
  }100%{
    transform: scale(1);
  }
}

#score-link {
  display: inline-block;  /* Asegura que el enlace solo ocupe el espacio del botón */
}


#back-text{
  min-height: 110px;
  background-color: rgba(0, 0, 0, 0.6);
}