/* Estilos Generales */

body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-image: url('../img/Backgrounds/Background1.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -150px;
  
  overflow:hidden;
  /* overflow:scroll; */

}

.texto-titulo{
    font-size: 30px;
    font-weight: bold;
    font-family: "Sour Gummy", sans-serif;

}

/* seccion bacground incicial */
.background-inicial
{
  min-height: 971px;
  background-color: #8d16d1;
}


/* Juego state */
.horca{
    position: absolute;
    
}

/* Game Mian  */
.seccion-juego{
  min-height: 917px;
  background-color: #f5f6f7;

}




/* Estilos para el menú flotante */
.floating-menu {
    
  width: 750px;
  height: 324px;

  position: fixed;

  justify-content: center;
  align-content: center;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;


  background-image:url("../img/Backgrounds/Baground_Menu.png");
  
}

.UI-Menu{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 15px;
    
    
}

.button-Menu{
  
  margin: 0 auto;  /*Centrar div*/
  width: 150px;
  height: 75px;
  border-radius: 15px;

}


/* seccion-ingreso-datos */

.seccion-ingreso-datos{
  min-height: 917px;
  background-color: #f5f6f7;

}





/* seccion Logica de juego */


.inputs-letras{
  border: none;
  border-bottom: 5px solid red;
  margin-left: 5px;
  background: transparent;
  width: 45px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.fade-out {
  animation: fadeOut 1s forwards;
}


.fade-int{
  animation: fadeInt 1s forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeInt{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;

  }
}
#game-section {
  display: none; /* Ocultar por defecto */
}
